<!DOCTYPE html>
<html>
<head>
  <title>Contactbook</title>
  <%#= javascript_include_merged :base %>
  <%#= stylesheet_link_merged :base %>

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js", "application.js" %>
</head>
<body>
<div id="container">
<h1><%= link_to "Contactbook", root_path  %></h1>
<% if !flash.blank? %>
  <p style="color: blue"><%= flash[:notice] %></p>
  <p style="color: red"><%= flash[:warning] %></p>
  <p style="color: red"><%= flash[:error] %></p>
  <% else %>
  <p style="color: white">&nbsp;</p>
<% end %>
<%= yield %>

</body>
</html>
